/* Typo */

h1,h2,h3,h4,h5 {
  margin-bottom: 1.3em;
}

/* Utilities */

.white-bg {
  background: #fff;
}

.main-content {
  padding: 20px;
}

/* Page style */

header {
  height: auto;
  text-align: center;
}

div#social-media-buttons {
  width: 180px;
  height: 23px;
  padding: 8px 0px 4px 10px;
  background-color: #FFF;
  position: fixed;
  top: 0;
  right:0;
  border-bottom-left-radius:8px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

div#social-media-buttons div {
  float: left;
}

#fb-btn {
  margin-right: 10px;
}

#twitter-btn {
  width: 90px;
}

header#spread {
  background: url('../img/spread.jpg') top center fixed no-repeat #f8f8f8;
}

div#logo-wrap {
  width: 100%;
}


img#front-logo {
  margin: 40px auto;
}


div#event-msg p {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  text-align: center;
}


div#event-msg p#tagline {
  font-size: 33px;
  line-height: 42px;
  margin: 20px auto;
  width: 60%;
}
div#event-msg p#tagline strong{
  text-transform: uppercase;
}
div#event-msg p#date {
  font-size: 52px;
  color: #FF6E0B;
  line-height: 48px;
}
div#event-msg p#location {
  font-size: 24px;
  margin: 20px 0;
}
div#event-msg a#pre-register-btn {
  display: block;
  margin: 60px auto 40px;
  text-align: center;
  background: #FF6E0B;
  padding: 20px 0;
  color: #fff;
  width: 200px;
  font-size: 24px;
  border-radius: 12px;
  box-shadow: 0 5px 0 #de5a00;
}

div#event-msg a#pre-register-btn:hover {
  margin: 58px auto 42px;
  box-shadow: 0 7px 0 #de5a00;
  text-decoration: none;

}

div#event-msg a#pre-register-btn:active {
  margin: 65px auto 35px;
  box-shadow: 0 0 0 #de5a00;
  text-decoration: none;

}


/* Description */

div#description {
  background: none;
  padding-top: 25px;
  padding-bottom: 25px;
}

div#description p {
  font-size: 18px;
  line-height: 28px;
  color: #000;
  width: 70%;
  margin: 0 auto;
  text-align: left;
  display: block;
}

div#description p strong {
  color: #FF6E0B;
}

div#description a,
div#description a:hover,
div#description a:visited,
div#description a:active
{
  color: #888;
}

/* Host */
div#host {
  height: auto;
  text-align: center;
}
div#host p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  line-height: 72px;
}
div#host div#logos {
  line-height: 72px;
}
div#host div#logos img {
  vertical-align: middle;
  margin: 0 10px 70px 10px;
}

/* Ad */
div#ad {
  background: rgba(0,0,0,0.8);
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  padding:10px 0;
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
}

div#ad h5 {
  font-size: 28px;
  line-height: 24px;
  color:#fff;
  margin:12px 0 12px 0;
}

div#ad p {
  font-size: 16px;
  line-height: 18px;
  color:#fff;
}

div#ad a#ad-pre-reg {
  width: 100%;
  padding: 20px 0;
  display: block;
  color:#FF6E0B;
  font-size: 24px;
  background: #fff;
  box-shadow: 0 5px 0 #ccc;
  text-align: center;
  border-radius: 12px;
  margin-top: 5px;
}

div#ad a#ad-pre-reg:hover {
  box-shadow: 0 7px 0 #ccc;
  margin-top: 3px;
  text-decoration: none;
}


div#ad a#ad-pre-reg:active {
  box-shadow: 0 0 0 #ccc;
  margin-top: 10px;
  text-decoration: none;
}


/* Navigation */
nav {
  height: auto;
  background-color: #333333;
}

nav ul {
  margin: 0 auto;
  list-style: none inside;
  width: 600px;
  height: 60px;
}

nav ul li {
  display: block;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 43px;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:visited,
nav ul li a:active
{
  color: #FFFFFF;
  text-decoration: none;
  padding: 18px 20px 0 20px ;
  height: 60px;
  display: block;
}

nav ul li a:hover, nav ul li.selected a:hover
{
  background: #FF6E0B;
  color: #fff;
  text-decoration: none;
  box-shadow: none;
}

nav ul li.selected a {
  background: #FF6E0B;
  box-shadow: inset 0 -3px 0 #de5a00;
}

/* Body */
div#body {
  background-color: #F2F2F2;
}

div#main {
  background: #fff;
}

div#body p,
div#body h4 {
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  margin-bottom: 30px;
}

div#body h4 + ul {
  margin-top: -20px;
}

div#body p strong a,
div#body p strong a:hover,
div#body p strong a:visited,
div#body p strong a:active
{
  color: #FF6E0B;
  text-decoration: none;
}

div#body p a,
div#body p a:hover, 
div#body p a:visited,
div#body p a:active
{
  color: #000000;
  text-decoration: underline;
}

div#body ul {
  font-family: Georgia, Serif;
  font-size: 16px;
}

div#body ul li {
  line-height: 28px;
  color: #000000;
}

div#body aside {
  padding-top: 20px;
}

div#body aside ul {
  margin: 20px 0 0 0;
  list-style: none inside;
}

div#body aside ul li {
  display: block;
  margin-bottom: 50px;
}

div#body aside h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 50px;
  text-align: center;
}

div#body aside img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

div#body img.keynote-pic {
  width: 200px;
}
div#body img.keynote-org {
  width: 200px;
}
div#body img.keynote-img {
  width: 150px;
}

div#prereg iframe{
  min-height: 1000px;
}

div#speakers-content h3 {
  color: #FF6E0B;
}

div#speakers-content img.keynote-pic {
  width: 150px;
}

div#speakers-content img.keynote-org {
  width: 100px;
}

div#speakers-content article {
  margin-bottom: 40px;
}

div#sponsors-content h3 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

div#body ul.prizes {
  list-style: none;
}

div#body ul.prizes li {
  display: block;
  float: left;
  font-size: 12px;
  line-height: 12px;
  width: 135px;
}

img.more-info {
  cursor: pointer;
}

div.more-info {
  display: none;
  position:fixed;
  height:400px;
  width:408px;
  background:#FFFFFF;
  border:2px solid #cecece;
  z-index:2;
  padding:12px;
  font-size:13px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Support Organization */
div#support_org {
  margin-top: 30px;
  width: 250px;
}

div#support_org img {
  width: 75px;
  margin-right: 5px;
}

div#support_org img.spirit {
  width: 250px;
  margin-right: 0;
}

/* Footer */
footer {
  border: none;
  background: #f8f8f8;
}

footer div.row {
  padding-bottom: 120px;
  text-align: center;
}

footer div#backtotop {
  display: none;
}

footer img.logo {
  margin-top: 20px;
  width: 408px;
  height: auto;
}

footer div p#copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

footer div p#copyright img {
  border-width: 0;
  vertical-align: text-bottom;
}

footer div p#reminder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  display: none;
}

header#mobile {
  display: none;
}

@media (max-width: 980px) {
  header#mobile {
    display: block !important;
    height: 259px;
    padding-top: 20px;
  }
  div#description, div#event-msg, div#host, div#ad, header#spread {
    display: none;
  }

  aside.span4 {
    display: none !important;
  }

  #nav-row {
    padding: 0;
  }

  nav ul {
  width: 300px;
  }

  nav ul li {
  margin:0;
  }

  nav ul li a,
  nav ul li a:visited,
  nav ul li a:active {
    padding: 10px 12px;
    height: 43px;
  }

  div#body aside img {
  max-width: 120px;
  }

  .hide-at-mobile {
    display: none;
  }

  .row {
    padding: 20px;
  }
}

