div#topbar {
  height: 15px;
  width: 100%;
  background: url("../img/topbar.png") repeat-x;
}

header {
  height: 685px;
  background: url("../img/spread.jpg") no-repeat center -45px;
}

div#logo-banner {
  height: 220px;
  border-bottom: 4px solid #FF6E0B;
  background: none;
  background: rgba(255,255,255, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
}

div#logo-banner img.logo {
  margin-top: 13px;
  height: 258px;
  width: 260px;
}

div#logo-banner h1#title {
  text-indent: -9999px;
  background: url("../img/wids_logotext.png") no-repeat center;
  width: 360px;
  height: 75px;
  position: absolute;
  margin-left: 285px;
  margin-top: 135px;
}

div#logo-banner a#pre-register-btn img{
  margin-top: 150px;
}

div#event-msg {
  margin-top: 245px;
}

div#event-msg p {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

div#event-msg div#social-media-buttons {
  width: 200px;
  height: 23px;
  padding: 8px 0px 4px 10px;
  background-color: #FFF;
  position: absolute;
  margin-top: -245px;
  margin-left: 730px;

  border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -webkit-border-radius: 0px 0px 5px 5px;
  -khtml-border-radius: 0px 0px 5px 5px;
}

div#event-msg div#social-media-buttons div {
  float: left;
}

div#event-msg p#tagline {
  font-size: 42px;
  line-height: 50px;
}
div#event-msg p#tagline strong{
  text-transform: uppercase;
}
div#event-msg p#date {
  font-size: 56px;
  color: #FF6E0B;
  line-height: 48px;
}
div#event-msg p#location {
  font-size: 24px;
}
div#theme {
  position: absolute;
  margin-left: 760px;
}
div#theme img#theme_logo {
  width: 200px;
  height: 270px;
}
div#theme p {
  font-family: Georgia, Serif;
  font-style: italic;
  font-size: 18px;
  color: #DDDDDD;
}

/* Description */

div#description {
  border-top: 1px solid #FFFFFF;
  background-color: #333333;
  padding-top: 25px;
  padding-bottom: 25px;
}

div#description p {
  font-family: Georgia, Serif;
  font-size: 18px;
  line-height: 28px;
  color: #DDDDDD;
}

div#description p strong {
  color: #FF6E0B;
}

div#description a,
div#description a:hover,
div#description a:visited,
div#description a:active
{
  color: #DDDDDD;
}

/* Host */
div#host {
/*  background: url("../img/host_bg.png") repeat-x; */
  background-color: #FFFFFF;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  height: 72px;
}
div#host p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  line-height: 72px;
}
div#host div#logos {
  line-height: 72px;
}
div#host div#logos img {
  vertical-align: middle;
  margin-left: 10px;
}

/* Ad */
div#ad {
  background-color: #FF6E0B;
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  padding-top: 25px;
  padding-bottom: 25px;
}

div#ad p strong {
  font-size: 48px;
  line-height: 48px;
}

div#ad p {
  font-size: 36px;
  line-height: 40px;
}

div#ad img {
  margin-top: 10px;
  width: 286px;
  height: 73px;
}

/* Navigation */
nav {
  height: 43px;
  background-color: #333333;
}

nav ul {
  margin: 0;
  list-style: none inside;
}

nav ul li {
  display: block;
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 43px;
  margin-right: 20px;
}

nav ul li a,
nav ul li a:hover,
nav ul li a:visited,
nav ul li a:active
{
  color: #FFFFFF;
  text-decoration: none;
}

nav ul li.selected a {
  background: #FF6E0B;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF6D0A', endColorstr='#FF4A00'); /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#FF6D0A), to(#FF4A00)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #FF6D0A,  #FF4A00); /* for firefox 3.6+ */ 

  padding: 4px 10px;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(0,0,0, 0.2);

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* Body */
div#body {
  background-color: #FFFFFF;
  background-color: #F2F2F2;
}

div#main-container {
  background-color: #FFFFFF;
  padding-top: 30px;
}

div#body p {
  font-family: Georgia, Serif;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 30px;
}

div#body p strong a,
div#body p strong a:hover,
div#body p strong a:visited,
div#body p strong a:active
{
  color: #FF6E0B;
  text-decoration: none;
}

div#body p a,
div#body p a:hover, 
div#body p a:visited,
div#body p a:active
{
  color: #000000;
  text-decoration: underline;
}

div#body ul {
  font-family: Georgia, Serif;
  font-size: 16px;
}

div#body ul li {
  line-height: 28px;
  color: #000000;
}

div#body aside ul {
  margin: 0;
  list-style: none inside;
}

div#body aside ul li {
  display: block;
  margin-bottom: 50px;
}

div#body aside h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 50px;
}

div#body img.keynote-pic {
  width: 200px;
}
div#body img.keynote-org {
}

div#prereg iframe{
  min-height: 1000px;
}

div#speakers-content h3 {
  color: #FF6E0B;
}

div#speakers-content img.keynote-pic {
  width: 150px;
}

div#speakers-content img.keynote-org {
  width: 100px;
}

img.more-info {
  cursor: pointer;
}

div.more-info {
  display: none;
  position:fixed;
  height:400px;
  width:408px;
  background:#FFFFFF;
  border:2px solid #cecece;
  z-index:2;
  padding:12px;
  font-size:13px;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
}

/* Footer */
footer {
  margin-top: 0;
  padding-top: 0;
  border: none;

  background: none;
  background: rgba(172,172,172, 0.8);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ACACAC, endColorstr=#99ACACAC);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ACACAC, endColorstr=#99ACACAC)";
}

footer div.row {
  background-color: #fcfcfc;
}
footer div#backtotop {
  display: none;
}

footer img.logo {
  margin-top: 20px;
  width: 408px;
  height: 96px;
}

footer div p#copyright {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

footer div p#reminder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  display: none;
}
